/**
 * @name Gojo Theme
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/ruJUIFh.jpg');
  --background-image-blur: 1px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://i.imgur.com/XtXrxDR.jpg');
  --popout-image-blur: 1px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://i.imgur.com/1t3KpN9.jpg');
  --overlay-image-blur: 0px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://i.imgur.com/Cf9XKKL.png');
  --home-button-size: 100%;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 0,124,181;
  --gradient-secondary: 210,0,0;
  --link-colour: #6200C5;
  --scrollbar-colour: rgb(98,0,197,1);
  --gradient-direction: 280deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 20px;
  --window-roundness: 10px;
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #6200C5;
  --rs-idle-color: #0084F8;
  --rs-dnd-color: #D50000;
  --rs-offline-color: #3B3B3B;
  --rs-streaming-color: #D9D9D9;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


